<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>Synchronize One MapCore</title>
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    #app {
      padding: 5px;
    }

    #view1Div {
      position: relative;
    }

    #view2Div {
      position: relative;
    }

    .layerToggle {
      top: 20px;
      right: 20px;
      position: absolute;
      z-index: 99;
      background-color: white;
      border-radius: 8px;
      padding: 10px;
      opacity: 0.75;
    }

    li {
      list-style: none;
    }
  </style>
  <link rel="stylesheet" href="https://js.arcgis.com/4.20/esri/themes/light/main.css" />
</head>

<body>
  <div id="app">
    <div>
      <h4>{{title}}</h4>
      <div>
        <input type="checkbox" id="checkbox" v-model="isSynchronized" @change="synchronize(isSynchronized)" />
        <label for="checkbox">同步：{{ isSynchronized }}</label>
      </div>
    </div>
    <div id="view1Div" style="float: left; width: 50%; height: 90%">
      <ul class="esri-widget layerToggle">
        <li v-for="layer in allLayers">
          <input type="checkbox" @change="toggleLayer(views[0].view,layer.id)" v-model="isView1ShipOpen" />
          {{layer.name}}
        </li>
      </ul>
    </div>

    <div id="view2Div" style="float: left; width: 50%; height: 90%">
      <ul class="esri-widget layerToggle">
        <li v-for="layer in allLayers">
          <input type="checkbox" @change="toggleLayer(views[1].view,layer.id)" v-model="isView2ShipOpen" />
          {{layer.name}}
        </li>
      </ul>
    </div>
  </div>
</body>

<script src="https://js.arcgis.com/4.20/"></script>
<script>
  require([
    "esri/Map",
    "esri/layers/FeatureLayer",
    "esri/layers/TileLayer",
    "esri/layers/GeoJSONLayer",
    "esri/views/SceneView",
    "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js",
  ], (Map, FeatureLayer, TileLayer, GeoJSONLayer, SceneView, Vue) => {
    let _featureLayer = new FeatureLayer({
      url: "https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/Landscape_Trees/FeatureServer/0",
      id: 0,
      name: "layer",
    });

    let _vm = initVue();

    function initVue() {
      return new Vue({
        el: "#app",
        data: {
          title: "三維影像雙視窗比對測試(單地圖核心)，(如果點擊同步時右側地圖圖層狀態會與左側地圖一致)",
          allLayers: [_featureLayer],
          isSynchronized: false,
          map: null,
          views: [],
          active: null,
          isView1ShipOpen: true,
          isView2ShipOpen: true,
        },
        methods: {
          initMap: initMap,
          synchronize: synchronize,
          sync: sync,
          toggleLayer: toggleLayer,
        },
        mounted() {
          this.initMap();
        }
      });
    }

    function sync(vm, source) {
      if (!vm.active || !vm.active.viewpoint || vm.active !== source) {
        return;
      }
      for (let item of vm.views) {
        if (item.view !== vm.active) {
          item.view.viewpoint = vm.active.viewpoint;
        }
      }
    }

    function synchronize(val) {
      let vm = this;
      let saveLeftMapLayerStatus = [];
      if (val) {
        for (let item of vm.views) {
          item.animationWatch = item.view.watch(
            ["interacting", "animation"],
            () => {
              vm.active = item.view;
              sync(vm, vm.active);
            }
          );
          item.viewpointWatch = item.view.watch("viewpoint", () =>
            sync(vm, item.view)
          );
        }

        //儲存左側地圖圖層開關狀態，並拿來設定右側圖層開關狀態
        this.views[0].view.layerViews.forEach((x) => {
          saveLeftMapLayerStatus.push(x.visible);
        });
        this.views[1].view.layerViews.forEach((x, index) => {
          x.visible = saveLeftMapLayerStatus[index];
          vm.isView2ShipOpen = saveLeftMapLayerStatus[index];
        });
      } else {
        for (let item of vm.views) {
          item.animationWatch.remove();
          item.viewpointWatch.remove();
        }
      }
    }

    function toggleLayer(view, layerId) {
      if (this.isSynchronized) {
        console.log("同步");
        let targetLayerView = view.layerViews.items.find((x) => {
          return x.layer.id === layerId;
        });
        targetLayerView.visible = !targetLayerView.visible;

        //將點擊開關的圖層狀態傳至另一地圖同步更新狀態，並同步更新Checkbox狀態
        let visible = targetLayerView.visible;
        if (view.container.id === "view1Div") {//如果點擊的是第一個View的Checkbox那就更新第二個View的狀態
          this.views[1].view.layerViews.items.find((x) => {
            return x.layer.id === layerId;
          }).visible = visible;
          this.isView2ShipOpen = visible;
        } else {
          this.views[0].view.layerViews.items.find((x) => {
            return x.layer.id === layerId;
          }).visible = visible;
          this.isView1ShipOpen = visible;
        }
      } else {
        console.log("不同步");
        let targetLayerView = view.layerViews.items.find((x) => {
          return x.layer.id === layerId;
        });
        targetLayerView.visible = !targetLayerView.visible;
      }
    }

    function initMap() {
      let vm = this;

      let map = new Map({
        basemap: "satellite",
        layers: this.allLayers,
      });

      let view1 = new SceneView({
        container: "view1Div",
        map: map,
        center: [120.98, 23.68],
        extent: {
          // autocasts as new Extent()
          xmin: -9177811,
          ymin: 4247000,
          xmax: -9176791,
          ymax: 4247784,
          spatialReference: 102100
        }
      });

      let view2 = new SceneView({
        container: "view2Div",
        map: map,
        constraints: {
          // Disable zoom snapping to get the best synchronization
          snapToZoom: false,
        },
        center: [120.98, 23.68],
        extent: {
          // autocasts as new Extent()
          xmin: -9177811,
          ymin: 4247000,
          xmax: -9176791,
          ymax: 4247784,
          spatialReference: 102100
        }
      });

      let views = [
        {
          view: view1,
          animationWatch: null,
          viewpointWatch: null,
        },
        {
          view: view2,
          animationWatch: null,
          viewpointWatch: null,
        },
      ];
      this.map = map;
      this.views = views;
    }
  });
</script>

</html>